<div class="w-full">
    <article class="overflow-hidden rounded-lg shadow-lg bg-white hover:bg-blue-50 h-[auto]">
      <div class="flex items-center justify-center leading-tight p-2 md:p-4 w -full">
        <a href="#">
          <img
            alt="Placeholder"
            class="block h-60 w-60 object-cover"
            [src]="department.imageUrl"
          />
        </a>
      </div>

      <div class="flex items-center justify-start  leading-tight p-1 md:p-4 self-center">
        <h1 class="text-lg ms-4">
          <p class="no-underline department-name">{{ department.name }}</p>
        </h1>
      </div>

      <div class="flex items-start  justify-start text-gray-500 text-center leading-tight p-1 md:p-4 flex-col w-100">
        <h2 class=" ms-4 common-head mb-2">Common Diseases</h2>
        <ul class="ms-4 common-list flex flex-col items-start">
          <li *ngFor="let disease of department.commonDiseases" class="mb-1">&#x2022; {{ disease }}</li>
        </ul>
      </div>

      <div class="flex items-center justify-start leading-tight p-2 md:p-4 mb-3" (click)="getDr(department._id)">
        <p class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800">
          View Doctors
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </p>
      </div>
    </article>
  </div>