<div class="w-full flex  justify-center bg-white min-h-screen">
    <div class="container my-12 mx-auto px-4 md:px-12 lg:w-4/5 sm:w-full" >
      <div class="flex flex-wrap -mx-1 lg:-mx-4 card-class">
        <div class="ms-4  justify-start flex text-textBlue font-bold text-xl mt-5 w-3/4 mb-3">
          <h1 class="">Our Doctors</h1>
        </div>
        <div class="w-full">
            <app-search-bar (searchChange)="onSearch($event)" ></app-search-bar>
        </div>
        <div class="w-full text-center mt-7" *ngIf="doctors.length === 0">
            <h1  class="text-2xl font-medium text-textBlue">no results</h1>
          </div>
        <div *ngIf="loader" class="w-full h-[70vh] flex justify-center items-center">
            <app-loader [size]="50" ></app-loader>
        </div>
        <ng-container *ngIf="!loader">
            <ng-container *ngFor="let doctor of doctors; let index = index" >
                <div class="my-1 px-1 w-full md:w-1/2  lg:w-1/3 xl:w-1/4 lg:my-4 lg:px-4 cursor-pointer hover:scale-105 ease-in-out duration-200 mb-3">
                    <app-doctor-card></app-doctor-card>
                </div>
            </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  