<div class="container">
    <div class="w-full p-2">
        <h1>Doctors</h1>
    </div>
    <app-data-table>
        <ng-container header-cell>
            <th class="px-4 py-2 text-left font-semibold">No</th>
            <th class="px-4 py-2 text-left font-semibold">Full Name</th>
            <th class="px-4 py-2 text-left font-semibold">Email</th>
            <th class="px-4 py-2 text-left font-semibold">Phone</th>
            <th class="px-4 py-2 text-left font-semibold">Department</th>
            <th class="px-4 py-2 text-left font-semibold">Licence</th>
            <th class="px-4 py-2 text-left font-semibold">Actions</th>
        </ng-container>
        <ng-container data-row>
            
        </ng-container>
    </app-data-table>
</div>