<nav class="flex items-center justify-between flex-wrap bg-white p-5 shadow-md">
  <div class="flex items-center flex-shrink-0 text-white mr-6 w-1/5 justify-center">
    <img src="assets/logo.png" class="h-10 w-20" alt="asda">
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-textBlue" (click)="setSideBar()">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class=" hidden flex-grow lg:flex lg:items-center w-2/5 xl:w-3/5 items-center justify-center lg:text-center text-textBlue">
    <div class="text-sm lg:flex-grow">
      <a  class="block mt-4 lg:inline-block lg:mt-0 text-[12px] mr-4 hover:text-secColor" *ngFor="let item of navList" [routerLink]="item.path"   >
        {{item.name}}
      </a>
    </div>
    <div class="w-2/5 xl:w-1/5 flex " >
      <button class="ms-auto p-2 px-6 text-white text-sm bg-mainColor rounded hover:bg-secColor" (click)="clickLogIn()" *ngIf="!userLogged">Log In</button>
      <button class="ms-2 w p-2 px-6 text-white text-sm bg-mainColor rounded hover:bg-secColor" (click)="clickRegister()" *ngIf="!userLogged">Register</button>
      <ng-icon name="heroUserCircle"  class="text-textBlue text-[27px] ms-auto mr-2" *ngIf="userLogged"></ng-icon>
    </div>
  </div>
  <div class="block w-full flex-grow lg:hidden  items-center justify-center  text-textBlue" *ngIf="sideBar">
    <div class="text-md p-9">
      <a  class="block mt-4 lg:inline-block lg:mt-0  mr-4 text-sm" *ngFor="let item of navList" [routerLink]="item.path">
        {{item.name}}
      </a> 
    </div>
    <div class="w-full"  >
      <button class="p-2 px-6 text-white text-sm bg-mainColor rounded" (click)="clickLogIn()" *ngIf="!userLogged">LogIn</button>
      <button class="p-2 px-6 text-white text-sm bg-mainColor rounded ms-3" (click)="clickRegister()" *ngIf="!userLogged">Register</button>
      <button class="p-2 px-6 text-white text-sm bg-mainColor rounded"  *ngIf="userLogged">Profile</button>
    </div>
    
  </div>
</nav>