.loader {
    border: 4px solid #66A1FD;
    border-top: 4px solid #ffff;
    border-radius: 50%;
    /* width: 24px;
    height: 24px; */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}